# Database Connection URL (e.g. Render, Neon, Supabase, or Local PostgreSQL)
DATABASE_URL=postgresql://username:password@host:port/database_name?sslmode=require

# JWT Cryptographic Signing Key (Change this in production)
JWT_SECRET=digital_egram_secret_jwt_key_2026

# Server Port (Default is 5000)
PORT=5000
NODE_ENV=development
